// font-family: 'Amarante', cursive;
// font-family: 'Inter', sans-serif;

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

$primary-btn: #A07D50;
$btn-hower: #C7AE8F;
$btn-clicked:#DDE2E4;


// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&display=swap');
// *{
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
//   font-family: 'Open Sans', sans-serif;
// }

// body{
//   background: #1B1B1B url('./assets/img/bg.png');
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
//     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
//     sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }
