$primary-color: #a07d50;
.logo {
  width: 1vw;
  h1 {
    flex-grow: 1;
    color: $primary-color;
    font-family: "Amarante", cursive;
    font-size: 36px;
  }
  .logo-line {
    width: 10vw;
    // margin-bottom: -7px;
  }
}
