$primary-color: #A07D50;
$primary-text-color: #373E44;

.navbar{
    min-height: 10vh;
    width: 100%;
    position: static;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 4rem;

}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 4rem;
    gap: 0.5rem;

    p{
        color: $primary-text-color;
    }
    .login-reg, p{
        font-family: 'Inter', sans-serif;
        color: $primary-text-color;
        font-size: 1.1rem;
        font-weight: 500;

    }
    .login-reg{
        cursor: pointer;
    }

}

.logo{
    flex: 1;
}