$footer-bg: #f9f9f9;
$primary: #a07d50;
$dark-text: #373e44;

.footer {
  min-height: 10vh;
  width: 100%;
  padding: 0rem 4rem;
  margin-top: 3.5rem;
  background-color: $footer-bg;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
  h2 {
    color: $primary;
    font-family: "Amarante", cursive;
    flex: 1;
  }
  .links {
    color: $dark-text;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    text-align: left;
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
    list-style: none;
  }
}
